@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    width: 100vw;
    height: 100vh;
}

body {
    overflow-x: hidden;
}

.shadow {
    -webkit-box-shadow: -1px 0px 35px -20px rgba(141, 141, 141, 1);
    -moz-box-shadow: -1px 0px 35px -20px rgba(141, 141, 141, 1);
    box-shadow: -1px 0px 35px -20px rgba(141, 141, 141, 1);
}

.drop-shadow {
    filter: drop-shadow(1px 1px 3px #979797)
}


.swiper-pagination-bullet-active {
    background-color: #449c6f !important;
}


@media (min-width: 1300px) {
    .swiper-slide-active {
        scale: 110%;
    }
}

.light {
    --background: 255, 255, 255;
    --background_secondary: 232, 237, 232;
    --text_100: 0, 0, 0;
    --text_60: 125, 125, 125;
    --text_80: 51, 51, 51;
    --text_90: 36, 36, 36;
}

.dark {
    --background: 48, 48, 48;
    --background_secondary: 180, 191, 180;
    --text_100: 255, 255, 255;
    --text_60: 170, 170, 170;
    --text_80: 208, 208, 208;
    --text_90: 229, 229, 229;
}