@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    width: 100vw;
    height: 100vh;
    --primary: 68, 156, 111;
}

body {
    overflow-x: hidden;
}

.shadow {
    -webkit-box-shadow: -1px 0px 35px -20px rgba(141, 141, 141, 1);
    -moz-box-shadow: -1px 0px 35px -20px rgba(141, 141, 141, 1);
    box-shadow: -1px 0px 35px -20px rgba(141, 141, 141, 1);
}


.swiper-pagination-bullet-active {
    background-color: #449c6f !important;
}


@media (min-width: 1300px) {
    .swiper-slide-active {
        scale: 110%;
    }
}

.light {
    --background: 255, 255, 255;
}

.dark {
    --background: 0, 0, 0;
}